table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table .head{
    background: rgb(3,113,163);
}

table .head td{
    color: #fff;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

table tr td{
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    color: #555;
}

.btn_update{
    display: inline-block;
    font-size: 14px;
    background: #1b743c;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
}